@model AuthenticatorVM



<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label>SMS Doğrulama Kodu:</label>
                <input type="hidden" asp-for="SharedKey" />
                <input type="hidden" />
                <input type="text" class="form-control" asp-for="VerificationCode">
            </div>
            <br />
            <p>
                Cep telefonunuza gönderilen sms içindeki doğrulama kodunu giriniz.
            </p>
            
            <a href="#" class="btn btn-primary">Doğrula</a>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

