
<div class="container mt-3 w-50">
    <h4>Başvurunuz Tamamlandı!</h4>
    
    <div class="card bg-light text-dark">
        <div class="card-body">
            Başvuru bilgileriniz sistemde kayıtlı cep telefonu numaranıza gönderilmiştir
        </div>
        <a class="text-center" asp-controller="Home" asp-action="Index">Ana Sayfaya Dön</a>
    </div>
    <br>
    
   
</div>
