@model ReceiverAppVM

<div class="col-12 grid-margin stretch-card w-50">
    <div class="card ">
        <div class="card-body">
            <b><p class="card-description"> Referans Kodunu Giriniz. </p></b>
            <form asp-action="SupplierApp" class="forms-sample" method="post">
                <div class="form-group">
                    <input class="form-control w-25" type="text" asp-for="ReferenceCode" placeholder="Referans No" />
                </div>
                <br />
                <a asp-action="Information" asp-controller="Receiver" class="btn btn-info mr-2">Tamam</a>
                <br /><br />
                <a href="#"> <b>Referans Numarasını Unuttum</b> </a><br />
                <p>
                    *Alıcı referans kodu satıcı tarafından oluşturulmaktadır.<br />
                    *Lütfen satıcı kişi ile ParamGüvende hesabı ile ilgili iletişime geçiniz.
                </p>
                <br />

            </form>
        </div>
    </div>
</div>

