@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <p class="text-center alert alert-info mt-3 p-2 lead">
        <a asp-action="SupplierApp" asp-controller="Supplier"> Satıcı Başvurusu Oluştur</a>
    </p>
</div>

<div class="container">
    <p class="text-center alert alert-info mt-3 p-2 lead">
        <a asp-action="ReceiverApp" asp-controller="Receiver"> Alıcı Başvurusu Oluştur</a>
    </p>
</div>

<div class="container">
    <p class="text-center alert alert-info mt-3 p-2 lead">
        <a asp-action="Index" asp-controller="Query">  Başvuru Durum Sorgula</a>
    </p>
</div>

<div class="container">
    <p class="text-center alert alert-info mt-3 p-2 lead">
        <a asp-action="Index" asp-controller="Cancel">  Başvuru İptal</a>
    </p>
</div>

