@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <p class="text-center alert alert-info mt-3 p-2 lead">
        Satıcı Başvurusu Oluştur
    </p>
</div>

<div class="container">
    <p class="text-center alert alert-info mt-3 p-2 lead">
        Alıcı Başvurusu Oluştur
    </p>
</div>

<div class="container">
    <p class="text-center alert alert-info mt-3 p-2 lead">
        Başvuru Durum Sorgula
    </p>
</div>

<div class="container">
    <p class="text-center alert alert-info mt-3 p-2 lead">
        Başvuru İptal
    </p>
</div>

